In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/combined/gameevents.csv')
df.shape

,Unnamed: 0,game_str,play_id,at_bat,play_per_game,timestamp,player_position,event_code
0,1,1903_01_TeamNE_TeamA2,1,1.0,1,19199,1,1
1,2,1903_01_TeamNE_TeamA2,1,1.0,1,19661,2,2
2,3,1903_01_TeamNE_TeamA2,1,1.0,1,19661,0,5
3,4,1903_01_TeamNE_TeamA2,2,1.0,2,29858,1,1
4,5,1903_01_TeamNE_TeamA2,2,1.0,2,30320,2,2